/com.ceos.merlot/target/
/com.ceos.merlot.branding/target/
/com.ceos.merlot.das/target/
/com.ceos.merlot.das.api/target/
/com.ceos.merlot.das.drv.basic/target/
/com.ceos.merlot.das.drv.mb/target/
/com.ceos.merlot.das.drv.s7/target/
/com.ceos.merlot.db/target/
/com.ceos.merlot.features/target/
/com.ceos.merlot.htc/target/
/com.ceos.merlot.iotdb.grafana/target/
/com.ceos.merlot.iotdb.htc/target/
/com.ceos.merlot.iotdb.jdbc/target/
/com.ceos.merlot.iotdb.pbraw/target/
/com.ceos.merlot.iotdb.svr/target/
/com.ceos.merlot.iotdb.sync/target/
/com.ceos.merlot.iotdb.xmlrpc/target/
/com.ceos.merlot.modbus.dev/target/
/com.ceos.merlot.modbus.sim/target/
/com.ceos.merlot.modbus.svr/target/
/com.ceos.merlot.model/target/
/com.ceos.merlot.pva/target/
/com.ceos.merlot.rpc/target/
/com.ceos.merlot.scheduler/target/
/com.ceos.merlot.loki.grafana/target/
