
################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

# Security audit configuration
# Only the above 4 loggers are supported
# Supported layouts include: simple, gelf, rfc3164, rfc5424

# Queue type
queue.class = java.util.concurrent.ArrayBlockingQueue
# Queue size
queue.size = 256
# Idle timeout
runner.idle-timeout = 60000
# Flush timeout
runner.flush-timeout = 100
# Event filter
# filter = (!(type=log))

# File logger
file.enabled = true
file.target = ${karaf.log}/audit.txt
file.encoding = UTF-8
file.layout.type = simple
# rotating policy: can be 'daily', 'size([0-9]+(kb|mb|gb)?\)'
file.policy = daily
file.files = 32
file.compress = false

# Tcp logger
# tcp.enabled = true
# tcp.host = localhost
# tcp.port = 8125
# tcp.encoding = UTF-8
# tcp.layout.type = gelf

# Udp logger
# udp.enabled = true
# udp.host = localhost
# udp.port = 514
# udp.encoding = UTF-8
# udp.layout.type = rfc3164

# JUL logger
jul.enabled = false
jul.logger = audit
jul.level = info
jul.layout.type = simple

