################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# Comma separated list of features repositories to register by default
#
featuresRepositories = \
    mvn:org.apache.karaf.features/framework/4.2.8/xml/features, \
    mvn:org.apache.karaf.features/spring/4.2.8/xml/features, \
    mvn:org.apache.karaf.features/static/4.2.8/xml/features, \
    mvn:org.apache.karaf.features/enterprise/4.2.8/xml/features, \
    mvn:org.apache.karaf.features/standard/4.2.8/xml/features, \
    mvn:com.ceos.merlot.features/com.ceos.merlot.features/0.0.1-SNAPSHOT/xml/features

#
# Comma separated list of features to install at startup
#
featuresBoot = \
    (wrap), \
    standard/4.2.8, \
    config_modbus_devices/0.0.1.SNAPSHOT, \
    config_records/0.0.1.SNAPSHOT, \
    instance/4.2.8, \
    com.ceos.merlot.features/0.0.1.SNAPSHOT, \
    ssh/4.2.8, \
    wrapper/4.2.8, \
    webconsole/4.2.8, \
    aries-blueprint/4.2.8, \
    config_iotdb_sync/0.0.1.SNAPSHOT, \
    jaas/4.2.8, \
    pax-http-service/7.2.14, \
    diagnostic/4.2.8, \
    pax-jdbc-h2/1.4.4, \
    package/4.2.8, \
    scr/4.2.8, \
    pax-jdbc-config/1.4.4, \
    framework-security/4.2.8, \
    maven/4.2.8, \
    profile/4.2.8, \
    documentation/4.2.8, \
    config_modbus_sim/0.0.1.SNAPSHOT, \
    framework-logback/4.2.8, \
    system/4.2.8, \
    eventadmin/4.2.8, \
    shell/4.2.8, \
    http/4.2.8, \
    http-whiteboard/4.2.8, \
    aries-proxy/4.2.8, \
    audit-log/4.2.8, \
    log/4.2.8, \
    config_modbus_server/0.0.1.SNAPSHOT, \
    jdbc/4.2.8, \
    pax-jdbc/1.4.4, \
    minimal/4.2.8, \
    config_iotdb_grafana/0.0.1.SNAPSHOT, \
    feature/4.2.8, \
    service-wrapper/4.2.8, \
    jline/3.13.2, \
    config_devices/0.0.1.SNAPSHOT, \
    deployer/4.2.8, \
    jetty/8.1.14.v20131031, \
    jaas-boot/4.2.8, \
    bundle/4.2.8, \
    kar/4.2.8, \
    jolokia/1.6.2, \
    war/4.2.8, \
    config_s7_drv/0.0.1.SNAPSHOT, \
    jasypt-encryption/4.2.8, \
    framework/4.2.8, \
    management/4.2.8, \
    service/4.2.8, \
    blueprint-web/4.2.8, \
    jndi/4.2.8, \
    service-security/4.2.8, \
    config_iotdb_server/0.0.1.SNAPSHOT, \
    shell-compat/4.2.8, \
    config/4.2.8, \
    config_mb_drv/0.0.1.SNAPSHOT, \
    obr/4.2.8, \
    config_iotdb_jdbc/0.0.1.SNAPSHOT

#
# Resource repositories (OBR) that the features resolver can use
# to resolve requirements/capabilities
#
# The format of the resourceRepositories is 
# resourceRepositories=[xml:url|json:url],...
# for Instance:
#
#resourceRepositories=xml:http://host/path/to/index.xml
# or
#resourceRepositories=json:http://host/path/to/index.json
#

#
# Defines if the boot features are started in asynchronous mode (in a dedicated thread)
#
featuresBootAsynchronous=false

#
# Service requirements enforcement
#
# By default, the feature resolver checks the service requirements/capabilities of
# bundles for new features (xml schema >= 1.3.0) in order to automatically installs
# the required bundles.
# The following flag can have those values:
#   - disable: service requirements are completely ignored
#   - default: service requirements are ignored for old features
#   - enforce: service requirements are always verified
#
#serviceRequirements=default

#
# Store cfg file for config element in feature
#
#configCfgStore=true

#
# Configuration of features processing mechanism (overrides, blacklisting, modification of features)
# XML file defines instructions related to features processing
# versions.properties may declare properties to resolve placeholders in XML file
# both files are relative to ${karaf.etc}
#
#featureProcessing=org.apache.karaf.features.xml
#featureProcessingVersions=versions.properties
